---
# tasks file for kde
- name: Fail if current desktop environment is not KDE
  when: ansible_env.XDG_CURRENT_DESKTOP != 'KDE'
  ansible.builtin.fail:
    msg: Cannot find 'KDE' in `XDG_CURRNET_DESKTOP` variable.

- name: Install KDE GUI application
  become: true
  block:
    - name: Install frequently used packages
      ansible.builtin.package:
        name: "{{ item }}"
      loop:
        - kate
        - yakuake
        - transmission-qt

    - name: Remove Kwrite
      ansible.builtin.package:
        name: kwrite
        state: absent

- name: Configure KDE global file
  community.general.kdeconfig:
    path: "{{ ansible_user_dir }}/.config/kdeglobals"
    mode: '0644'
    backup: true
    values:
      - group: KDE
        key: SingleClick
        bool_value: true
      - group: KDE
        key: LookAndFeelPackage
        value: org.kde.breezedark.desktop

      - group: KFileDialog Settings
        key: Show hidden files
        bool_value: true

- name: Configure Dolpin file manager
  community.general.kdeconfig:
    path: "{{ ansible_user_dir }}/.config/dolphinrc"
    mode: '0644'
    backup: true
    values:
      - group: FoldersPanel
        key: HiddenFilesShown
        bool_value: true
      - group: General  # Remeber display style for each folder
        key: GlobalViewProps
        bool_value: false

- name: Configure Konsole terminal
  community.general.kdeconfig:
    path: "{{ ansible_user_dir }}/.config/konsolerc"
    mode: '0644'
    backup: true
    values:
      - group: MainWindow
        key: MenuBar
        value: Disabled
      - group: MainWindow
        key: ToolButtonStyle
        value: IconOnly

      - group: Toolbar mainToolBar
        key: ToolButtonStyle
        value: IconOnly

      - group: TabBar
        key: TabBarVisibility
        value: AlwaysShowTabBar

- name: Configure Kate Text Editor
  community.general.kdeconfig:
    path: "{{ ansible_user_dir }}/.config/katerc"
    mode: '0644'
    backup: true
    values:
      - group: KTextEditor Document
        key: Show Spaces
        value: 1
      - group: KTextEditor Renderer
        key: Word Wrap Marker
        value: true

- name: Import task file for Fedora OS
  ansible.builtin.import_tasks: _fedora.yml

- name: Import task file for Debian OS
  ansible.builtin.import_tasks: _debian.yml
