---
# tasks file for systemd_config
- name: Copy tmpdir configuration file
  become: true
  ansible.builtin.copy:
    content: |
      # create /tmp/RAM directory
      D /tmp/RAM 1777 root root 4h -
    dest: /etc/tmpfiles.d/tmpdirs.conf
    owner: root
    group: root
    mode: '0644'

- name: Configure journal.conf
  become: true
  block:
    - name: Create directory for custom journald settings
      ansible.builtin.file:
        name: /etc/systemd/journald.conf.d/
        state: directory
        mode: '0755'

    - name: Change systemd journal max size
      ansible.builtin.copy:
        src: override.conf
        dest: /etc/systemd/journald.conf.d/
        mode: '0644'

- name: Create directory for local systemd
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/systemd/user/"
    state: directory
    mode: '0750'

- name: Setup RAM variable
  ansible.builtin.lineinfile:
    create: true
    backup: true
    mode: '0644'
    path: "{{ ansible_user_dir }}/.bashrc"
    regexp: '^export RAM='
    line: export RAM="/tmp/RAM"
