---
- name: Enable podman.socket on user scope
  ansible.builtin.systemd_service:
    name: podman.socket
    enabled: true
    state: restarted
    scope: user

- name: Setup completion for task
  ansible.builtin.copy:
    content: 'eval "$(task --completion bash)"'
    dest: "{{ ansible_user_dir }}/.local/share/bash-completion/"
    backup: true
    mode: '0644'
