---
- name: Enable podman.socket on user scope
  ansible.builtin.systemd_service:
    name: podman.socket
    enabled: true
    state: restarted
    scope: user

- name: Setup completion for task
  ansible.builtin.lineinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    line: 'eval "$(task --completion bash)"'
    create: true
    backup: true
    mode: '0644'
