---
- name: Install utilities for all alpine, RedHat, and Debian distro
  become: true
  ansible.builtin.package:
    name: git

- name: Customize git configuration
  block:
    - name: Create git directory
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/.config/git/"
        mode: '0755'
        state: directory

    - name: Add line to gitignore file
      ansible.builtin.lineinfile:
        path: "{{ ansible_user_dir }}/.config/git/ignore"
        line: ".directory"
        create: true
        backup: true
        mode: '0644'

    - name: Global gitignore file
      ansible.builtin.copy:
        content: |
          # KDE
          .directory

          TODO.md
        dest: "{{ ansible_user_dir }}/.config/git/ignore"
        mode: '0644'

    - name: Setup gitconfig
      ansible.builtin.blockinfile:
        create: true
        backup: true
        mode: '0644'
        path: "{{ ansible_user_dir }}/.gitconfig"
        append_newline: true
        prepend_newline: true
        block: "{{ lookup('ansible.builtin.file', 'gitconfig') }}"
