---
- name: Install pnpm for RedHat Based OS
  become: true
  when: ansible_os_family == 'RedHat'
  ansible.builtin.dnf:
    name: pnpm

- name: Install pnpm on Deiban
  when: ansible_os_family == 'Debian'
  block:
    - name: Install npm, dependencies for pnpm
      become: true
      ansible.builtin.apt:
        name: npm

    - name: Install pnpm via npm
      community.general.npm:
        name: pnpm
        global: true

- name: Setup pnpm global directory
  when: pnpm_run_setup
  ansible.builtin.command:
    cmd: pnpm setup
  register: pnpm_cmd
  changed_when: pnpm_cmd.stdout is search("Appended new lines")
  failed_when:
    - pnpm_cmd.rc != 0
    - pnpm_cmd.stdout is not search("already contains a pnpm section")

- name: Install Shell LSP via pnpm
  community.general.pnpm:
    name: bash-language-server
    global: true
