---
# tasks file for lazyvim
- name: Install neovim & dependencies
  become: true
  ansible.builtin.package:
    name:
      - neovim
      - luarocks
      - fd-find

- name: Install neovim package
  community.general.pnpm:
    name: neovim
    global: true

- name: Install tree-sitter, you need to run 'pnpm approve-build -g' manually
  community.general.pnpm:
    name: tree-sitter-cli
    global: true

- name: Install Lazyvim dependencies
  become: true
  ansible.builtin.package:
    name:
      - fzf
      - luarocks

- name: Install Lazyvim dependencies on RedHat Based OS
  become: true
  when: ansible_os_family == 'RedHat'
  ansible.builtin.dnf:
    name:
      - python3-neovim
      - gcc-c++  # Required by nvim-treesitter

- name: Create directory for lazyvim
  vars:
    layzvim_dest: "{{ ansible_user_dir }}/.config/nvim"
  notify: Install Lazyvim
  ansible.builtin.file:
    path: "{{ layzvim_dest }}"
    state: directory
    mode: '0755'

