---
# tasks file for base
- name: Install shell script analysis tool
  become: true
  ansible.builtin.package:
    name: shellcheck

- name: Setup shellcheckrc file
  ansible.builtin.copy:
    content: |
      # Disable following constant source
      disable=SC1090
    dest: "{{ ansible_user_dir }}/.config/shellcheck"
    mode: '0644'
    backup: true

- name: Personalize bash
  ansible.builtin.blockinfile:
    create: true
    backup: true
    mode: '0644'
    path: "{{ ansible_user_dir }}/.bashrc"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} PERSONALIZE BASH"
    block: |
      # Do not add space after autocompletion for 'ls' command
      compopt -o nospace ls
      # can't use it directly with compopt
      complete -o nospace -F _longopt source

- name: Create directory for binary, exeuctables, and scripts
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/bin/"
    state: directory
    mode: '0755'

- name: Setup 'inputrc' dot file
  ansible.builtin.copy:
    content: |
      # Ctrl-Backspace: delete previous word
      "\C-H": shell-backward-kill-word
    dest: "{{ ansible_user_dir }}/.inputrc"
    mode: '0644'
    backup: true
