---
# tasks file for base
- name: Setup environment variable on profile on RedHat
  when: ansible_os_family == 'RedHat'
  ansible.builtin.blockinfile:
    create: true
    backup: true
    mode: '0644'
    path: "{{ ansible_user_dir }}/.bash_profile"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} XDG Base Directory Specification"
    block: |
      export XDG_CONFIG_HOME="$HOME/.config"
      export XDG_CACHE_HOME="$HOME/.cache"
      export XDG_DATA_HOME="$HOME/.local/share"
      export XDG_STATE_HOME="$HOME/.local/state"
      # Setup editor
      export EDITOR="/usr/bin/env nvim"
      export SYSTEMD_EDITOR="/usr/bin/env nvim"

- name: Personalize bash
  ansible.builtin.blockinfile:
    create: true
    backup: true
    mode: '0644'
    path: "{{ ansible_user_dir }}/.bashrc"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} PERSONALIZE BASH"
    block: |
      # Do not add space after autocompletion for 'ls' command
      compopt -o nospace ls
      # can't use it directly with compopt
      complete -o nospace -F _longopt source

- name: Create $HOME/.local/state for XDG_STATE_HOME
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/state"
    state: directory
    mode: '0755'

- name: Create directory for binary, exeuctables, and scripts
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.local/bin/"
    state: directory
    mode: '0755'

- name: Setup 'inputrc' dot file
  ansible.builtin.copy:
    content: |
      # Ctrl-Backspace: delete previous word
      "\C-H": shell-backward-kill-word
    dest: "{{ ansible_user_dir }}/.inputrc"
    mode: '0644'
    backup: true
