---
# tasks file for base
- name: Install shell script analysis tool
  become: true
  ansible.builtin.package:
    name: shellcheck

- name: Setup shellcheckrc file
  ansible.builtin.copy:
    content: |
      # Disable following constant source
      disable=SC1090
    dest: "{{ ansible_user_dir }}/.config/shellcheckrc"
    mode: '0644'
    backup: true

- name: Personalize bash
  ansible.builtin.blockinfile:
    create: true
    backup: true
    mode: '0644'
    path: "{{ ansible_user_dir }}/.bashrc"
    append_newline: true
    prepend_newline: true
    marker: "# {mark} PERSONALIZE BASH"
    block: |
      # Do not add space after autocompletion for 'ls' command
      compopt -o nospace ls
      # can't use it directly with compopt
      complete -o nospace -F _longopt source

- name: Create directory for binary and completion
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ ansible_user_dir }}/.local/bin/"
    - "{{ ansible_user_dir }}/.local/share/bash-completion/"

- name: Setup 'inputrc' dot file
  ansible.builtin.copy:
    content: |
      # Ctrl-Backspace: delete previous word
      "\C-H": shell-backward-kill-word
    dest: "{{ ansible_user_dir }}/.inputrc"
    mode: '0644'
    backup: true

- name: Enabled sshd service on startup
  ansible.builtin.service:
    name: sshd
    enabled: true
    state: started

- name: Install packages with same name across OS
  become: true
  ansible.builtin.package:
    name:
      - lsd
      - bat

- name: Install ufw
  when: ansible_os_family == 'Debian'
  become: true
  ansible.builtin.apt:
    name: ufw

- name: Install oh-my-posh if ~/.local/bin/oh-my-posh does not exist
  notify: Configure oh-my-post to start on interactive session
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -s https://ohmyposh.dev/install.sh | bash -s
    creates: "{{ ansible_user_dir }}/.local/bin/oh-my-posh"

- name: Check if ble.sh file exist
  ansible.builtin.stat:
    path: "{{ ansible_user_dir }}/.local/share/blesh/ble.sh"
  register: base_blesh_st

- name: Install ble.sh
  when:
    - base_blesh_st.stat.exist is defined
    - base_blesh_st.stat.exist
  block:
    - name: Create temp directory
      ansible.builtin.tempfile:
        state: directory
      register: base_tmp_dir

    - name: Clone git repository to previous temp directory
      ansible.builtin.git:
        repo: https://github.com/akinomyoga/ble.sh.git
        dest: "{{ base_tmp_dir.path }}"
        single_branch: true
        depth: 1
        version: master
        track_submodules: true
      register: base_tmp_dir

    - name: Install ble.sh
      notify: Configure ble.sh to start on interactive session
      ansible.builtin.command:
        cmd: "make -C ble.sh install PREFIX={{ ansible_user_dir }}/.local"
      args:
        creates: "{{ base_blesh_st.path }}"
        chdir: "{{ base_tmp_dir.git_dir_now }}"

    - name: Remove temp directory
      ansible.builtin.file:
        path: "{{ base_tmp_dir.path }}"
        state: absent
      when: base_tmp_dir.path is defined
