---
- name: Execute on localhost
  hosts: all
  vars_prompt:
    - name: ansible_become_password
      prompt: "BECOME password"

  roles:
    - role: ansi_colle.linux.pnpm
      tags: pnpm
    - role: ansi_colle.linux.base
      tags: base
    - role: ansi_colle.linux.flatpak
      tags: flatpak
    - role: ansi_colle.linux.systemd
      tags: systemd
    - role: ansi_colle.linux.ansible
      tags: ansible
    - role: ansi_colle.linux.development
      tags: development
    - role: ansi_colle.linux.packages
      tags: packages
    - role: ansi_colle.linux.lazyvim
      tags: lazyvim

    - role: ansi_colle.linux.gnome
      tags:
        - gnome
        - never
    - role: ansi_colle.linux.kde
      tags:
        - kde
        - never
